{
    "arrowParens": "always",
    "singleQuote": true,
    "jsxSingleQuote": true,
    "tabWidth": 4,
    "printWidth": 73,
    "overrides": [
        {
            "files": "*.{yaml,yml}",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
